<!DOCTYPE html>
<html>
<head>
    <title>ブログ自動作成アプリ</title>
</head>
<body>
<h1>ブログ自動作成アプリ</h1>
<form method="POST" action="{{ url_for('post') }}">
    <label for="api-request">投稿内容</label><br>
    <textarea id="api_request" name="api_request" rows="4" cols="50"></textarea><br><br>
    <label for="post-title">ブログタイトル</label><br>
    <textarea id="post_title" name="post_title" rows="4" cols="50"></textarea><br><br>
    <label for="icatch-title">アイキャッチタイトル</label><br>
    <textarea id="icatch_title" name="icatch_title" rows="4" cols="50"></textarea><br><br>
    <label for="gpt-model">Choose a GPT model:</label><br>
    <select name="gpt-model" id="gpt-model">
        <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
        <option value="gpt-3.5-turbo-1106">gpt-3.5-turbo-1106</option>
        <option value="gpt-4">gpt-4</option>
        <option value="gpt-4-1106-preview">gpt-4-1106-preview</option>
        <option value="gpt-4-vision-preview">gpt-4-vision-preview</option>
        <!-- 他のモデルを追加 -->
    </select><br><br>
    <input type="submit" value="ブログ作成開始">
</form>
<br>
<button onclick="copyPreviousPost()">前回の内容をコピーする</button>

<h1>前回の投稿</h1>
<p>API request</p>
<textarea id="previous-api-request" rows="4" cols="50">{{ previous_api_request }}</textarea>
<p>Post title</p>
<textarea id="previous-post-title" rows="4" cols="50">{{ previous_post_title }}</textarea>
<p>icatch title</p>
<textarea id="previous-icatch-title" rows="4" cols="50">{{ previous_icatch_title }}</textarea>

<script>
    function copyPreviousPost() {
        document.getElementById("api_request").value = document.getElementById("previous-api-request").value;
        document.getElementById("post_title").value = document.getElementById("previous-post-title").value;
        document.getElementById("icatch_title").value = document.getElementById("previous-icatch-title").value;
    }
</script>
</body>
</html>